body {
  font-family: sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  color: #222;
}

header {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #004466;
  color: white;
}

.menu-toggle {
  background: none;
  border: none;
  font-size: 1.5em;
  color: white;
  display: none;
}

.nav {
  min-width: 650px;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 3em;
}

.nav-list li {
  display: inline;
  padding: 0em 0.5em;
}

.nav-list li a {
  color: white;
  text-decoration: none;
}

#gallery {
  padding: 2rem;
  width: 100%;
}

.grid-item {
  width: 30%;
  float: left;
  padding: 0.5em;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}


.grid-item img:hover {
  transform: scale(1.03);
}

#team {
  background-color: #ffffff;
  padding: 2rem;
  text-align: center;
  clear: both;
}

#team h2 {
  margin-bottom: 2rem;
}

.team-container {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.team-member {
  background-color: #eaf6f9;
  border-radius: 12px;
  padding: 1.5rem;
  max-width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: table-cell;
}

.team-member img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.team-member:hover {
  transform: scale(1.05);
}