body{
    background-color: #034f84;
    color: white;
}
p{
    background-color: #92a8d1;
    margin-bottom: 100px;
    font-size: 200%;
}
a{
    color: #f7cac9;
    padding: 50px;
    font-size: 50%;
}